@keyframes hgrotate {
  0% { transform:rotate(180deg); }
  30% { transform:rotate(180deg); }
  100% { transform:rotate(360deg); }
}
body {
  margin: 0;
  overflow:hidden;
  min-width:167px;
  min-height:36px;

  &.showed {
    #content {
      display:block;min-width:500px;
    }
  }
}
table.s-plug-table {
  color: #FFFFFF;
  width:100%;
  width: 600px;
  max-width: 100%;

  thead {

    tr {

      th {

        &.time {
          width: 50px;
        }

      }

    }

  }

  tbody {

    tr {

      background-color: red;
      transition: background .3s;

      td {
        padding: 5px 5px;

        a {
          color: #FFFFFF;

          &:hover {
            text-decoration: none;
          }
        }

        &.name {
          text-align: left;
          padding-left: 5px;
        }

        &.task {
          text-align: left;
          padding-left: 5px;
        }

        &.time {
          text-align: center;
        }

        &.result.full {
          background-color: green;
        }

        &.empty {
          padding:8px 12px;
          font-size:13px;
        }
      }

      &.hovered:hover {
        background:#ff8383;
      }

      &.active,
      &.active:hover {
        background-color: green;
      }

      &.emptybalance {
        background: #fbba23;
        color: #000;

        a {
          color:#000;
        }
      }

    }

  }

  .playbtn {
    cursor:pointer;

    &.wait {
      animation: hgrotate 2s infinite;
      transform:rotate(180deg);

      &:before {
        content:"\f251";
      }
    }
  }
}
#content {

  display:none;

  .search {
    text-align:center;
    background:#f00;
    padding:0 10px;
    margin: 0 2px;
    display:flex;
    align-items:center;

    > div.add {
      margin:10px 0;
      height:24px;
      line-height:24px;
      position:relative;

      i {
        cursor:pointer;
        font-size:16px;
        background:#fff;
        border-radius:50%;
        line-height:24px;
        width:24px;
        height:24px;
        text-align:center;
      }
    }

    > div.sinput {
      margin:0 0 0 10px;
      position:relative;
      height:24px;
      width:100%;

      input {
        width:100%;
        box-sizing:border-box;
        padding:0 10px;
        border:none;
        line-height:24px;
      }

    }
  }

  .addform {
    display:none;
    position:absolute;
    left:0;
    top:100%;
    margin-top:5px;
    padding:10px 10px 5px;
    background:#fff;
    border:#000 solid 1px;
    border-radius:5px;
    z-index:3;

    > div {
      position:relative;
    }

    input,
    textarea,
    select {
      color:#000;
      font-family: Arial;
    }

    input {
      width:200px;
      box-sizing:border-box;
      padding:0 10px;
      border-radius:5px;
      border:#ccc solid 1px;
      line-height:24px;
      margin-bottom:5px;
    }

    textarea {
      width:100%;
      resize:none;
      box-sizing:border-box;
      border:#ccc solid 1px;
      padding:2px 10px;
      line-height:20px;
      border-radius:5px;
    }

    select {
      cursor:pointer;
      width:100%;
      box-sizing:border-box;
      border:#ccc solid 1px;
      height:26px;
      border-radius:5px;
      margin-bottom:5px;
      padding:0 5px;
    }

    input[type=submit] {
      cursor:pointer;
      background:red;
      color:#fff;
    }

    .err {
      border:#f00 solid 1px;
    }

    &.opened {
      display:block;
    }
  }

}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-filter {
  margin-bottom: -2px;
}

#jsTabsContent {
  margin-bottom: -2px;
}

.content-wrapper {
  position:relative;
  overflow: hidden;
}

.loader {
  background:url(images/loader.gif) no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  padding: 0;
  margin: 0;
}

#addTimeSuccess {
  position:absolute;
  left:100%;
  top:-3px;
  margin-left:5px;
  background:#5ec15e;
  color:#fff;
  z-index:2;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 5px;
  display:none;

  &.showed {
    display:block;
  }
}

#sitelist {
  position:absolute;
  left:0;
  top:100%;
  width:100%;
  margin-top:-5px;
  z-index:2;
  text-align:left;
  max-height:136px;
  overflow:auto;
  box-sizing:border-box;
  background:#fff;
  border:#ccc solid 1px;
  border-radius:5px;

  > div {
    padding:0px 10px;
    height:34px;
    line-height:34px;

    &:hover,
    &:focus {
      background:#eee;
      cursor:pointer;
    }
  }
}

.ui-datepicker {

  .ui-datepicker-prev span,
  .ui-datepicker-next span {
    text-indent:0;
    font-size:0;
    text-align:center;
    cursor:pointer;

    &:before,
    &:before {
      font-family: FontAwesome;
      font-size: 14px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

  }

  .ui-datepicker-prev span:before {
    content:"\f104";
  }

  .ui-datepicker-next span:before {
    content:"\f105";
  }

}

.s-plug-tabs {
  display:flex;
  margin:2px 2px 0 2px;
  color:#fff;

  > *,
  &:after {
    padding:5px 10px;
    background:#f00;
    margin-right:2px;
    cursor:pointer;
    white-space:nowrap;
  }

  &:after {
    content:" ";
    display:block;
    width:100%;
    cursor:default;
    margin-right: 0;
  }

  > *.active {
    background:#008000;
    cursor:default;
  }

}

.s-plug-paging {
  padding:6px 0 0;

  > * {
    display:inline-block;
  }

  span,
  a {
    padding:3px 8px;
    border:#fff solid 1px;
    text-decoration:none;
    cursor:pointer;
    margin:0 3px 6px;
  }

  span,
  a:hover {
    background:#008000;
  }

}

.s-plug-warning {
  background:#fbba23;
  padding:5px 10px;
  text-align:center;
  margin:2px 2px 0;
  font-size:14px;
  font-weight:bold;
}